body {
    padding-top: 50px;
    text-align: center;
}

#info{
    margin-top: 10px;
}


#rotten-tomatoes {
    text-align: left;
    float: left;
    margin-top:-15px;
    width: 30%;
}

#review {
    text-align:left;
    float: left;
    margin-top:-15px;
    width: 35%;
}

#reviews-list {
    text-align: left;
    float:left;
    width: 35%;
    margin-top:-15px;
    height: 500px;
    overflow: scroll;
}

#rating {
    color: green;
    font-size: 15pt;
}

#rating-title {
    font-size: 17pt;
    font-weight: bold;
}

.submit-btn {
    border: none;
    background-color: transparent;
}

.submit-btn:hover {
  color:gray;
}

#dvd-header {
    text-align:left;
    font-size: 35pt;
}

.dvd-info {
    text-align: left;
    float:left;
    margin: 5px 50px 0px 4px;
    color: #444;
}

br{
    background-color:blue;
}

#review p {
    margin-top: 20px;
    margin-bottom: 13px;
}

#messages p{
    margin: 0px;
}


#actor {
    margin-left: 20px;
}

#poster {
    width: 100px;
    height: 150px;
    float:left;
}

#rt-info {
    float:left;
    margin-left:10px;
}

.score-num {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin-right: 10px;
}

#critics-num {
    color: blue;
}

#audience-num {
    color: purple;
}