body {
  padding-top: 50px;
  font-size: 14pt;
  text-align: center;
}

.box {
  padding: 0px 70px;
  text-align: center;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 650px;
}

.box form {
  padding-top: 0px;
  font-size: 14pt;
  text-align: left;
  float:left;
  padding-left: 20px;
}

.box form span {
  padding:10px;
}
.search-button {
  border: none;
  background-color: transparent;
}

.search-button:hover {
  color:gray;
}

button{
  border:none;
  background-color: transparent;
}

select {
  padding: 5px;
}

.result {
  padding-top: 50px;
}

#genre-search {
  width: 200px;
  font-size: 11pt;
  border-right: 1px solid #e3e3e3;
  padding-right: 10px;
  float:left;
  width:50%
}

#genre-search p {
  margin: 2px;
}

#title-search {
  width: 200px;
  font-size: 11pt;
  padding-right: 10px;
  float:left;
  width:50%
}